<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.blankedv.sx4control"
     android:exported="true">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- <uses-permission android:name="android.permission.VIBRATE"/> -->
    <application
            android:name=".model.MainApplication"
            android:allowBackup="true"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/sx4_ico"
            android:label="@string/app_name"
            android:noHistory="true"
            android:roundIcon="@mipmap/sx4_round_ico"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".views.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:host="opensx.net"
                        android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".views.AboutActivity"
                android:label="@string/title_about_info"
                android:parentActivityName=".views.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="de.blankedv.sx4control.views.MainActivity"/>
        </activity>
        <activity
                android:name=".views.Preferences"
                android:label="@string/title_activity_settings"
                android:parentActivityName=".views.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="de.blankedv.sx4control.views.MainActivity"/>
        </activity>
        <activity
                android:theme="@android:style/Theme.Holo.Dialog"
                android:name=".views.SelectAddressDialog"
                android:label="@string/title_activity_select_address_dialog"
                android:parentActivityName=".views.MainActivity"
                >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="de.blankedv.sx4control.views.MainActivity"/>
        </activity>
    </application>

</manifest>